* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
  0% {
    background-color: lightblue;
  }
  100% {
    background-color: rgb(95, 195, 228);
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.page-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

.login-container {
  text-align: center;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-list {
  list-style-type: none;
}

.contact-list li {
  margin-bottom: 10px;
}

.contact-list a {
  color: #0070f3;
  text-decoration: none;
}

.contact-list a:hover {
  text-decoration: underline;
}

.chat-messages {
  margin-bottom: 20px;
}

.message {
  margin-bottom: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
}
